*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color:teal;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 100   px; */

}

section{

    margin-top: 80px;
    height:90vh ;
    width: 100%;
    background-color: teal;
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
}


section>article{
    /* box-shadow: 0px 0px 5px black; */
    margin-left: 38%;
    margin-top: 20px;
    height: 550px;
    width: 26%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
}

.btn{
    height: 155px;
    width: 140px;
    border-radius: 15px;
    border: none;
    background-color: teal;
    color: white;
    box-shadow: 0px 0px 5px black;
    font-size: 40px;
}

#reset{
    height: 35px;
    width: 125px;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 70px;
    /* margin-bottom: 50px; */
}

#msg{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#new-btn{
    height: 35px;
    width: 125px;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

.hide{
    display: none;
}